* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #BFBCBB;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border: black solid 2px;
}
@media (min-width: 480px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h2 {
  font-size: 20px;
  color: black;
}

img {
  max-width: 100%;
}

.fecha, .autor {
  font-size: 15px;
  color: black;
}
.fecha span, .autor span {
  color: #ff1493;
  font-weight: bold;
}

button {
  background-color: #00aaff;
}