//Aquí defino, como “funciones” de SCSS que me permiten no repetir código si solo quiero
//cuadrar algun elemento o algo una y otra vez.

//Para el color del texto dentro de cada article
@mixin colortexto($color-p){
    color: $color-p;
}

//Color de todos los botons
@mixin colorBoton($color-link) {
    
    background-color: $color-link;
}

//Para el color del fondo::after
@mixin colorFondo($color-Body){

    background-color:$color-Body ;

}
@mixin colorArticle($color-Article){

    background-color:$color-Article ;

}

@mixin tablet(){

    @media (min-width:480px) {

        @content;
        
    }

}

@mixin web{

    @media (min-width:780px) {

        @content;
    
    }


}