//Aquí defino, como “funciones” de SCSS que me permiten no repetir código si solo quiero
//cuadrar algun elemento o algo una y otra vez.



@mixin tablet{

    @media (min-width:$formatoTablet) {

        @content;
        
    }

}

@mixin web{

    @media (min-width:$formatoWeb) {

        @content;
    
    }


}

//Genero varios mixin para el formato del texto y del boton ::after
@mixin formatoTexto{

    font-size: 15px;
    text-align: center;
    margin-top:15px;
    color: $color-textoPrincipal;

}

@mixin formatoSpan{
    color: $color-p; 
    font-weight: bold;
}


@mixin formatoBoton{
    padding: 10px;
    margin-top: 10px;

    color:white;
    background-color: $color-link;


}

