//Aquí defino, como “funciones” de SCSS que me permiten no repetir código si solo quiero
//cuadrar algun elemento o algo una y otra vez.



@mixin tablet(){

    @media (min-width:480px) {

        @content;
        
    }

}

@mixin web{

    @media (min-width:780px) {

        @content;
    
    }


}
@mixin formatoBoton{


}