//Aquí defino, como “funciones” de SCSS que me permiten no repetir código si solo quiero
//cuadrar algun elemento o algo una y otra vez.
@mixin colorBoton($color-link) {
    
    background-color: $color-link;
}