//Aquí defino, como “funciones” de SCSS que me permiten no repetir código si solo quiero
//cuadrar algun elemento o algo una y otra vez.

//Para el color del texto dentro de cada article
@mixin colortexto($color-p){
    color: $color-p;
}

//Color de todos los botons
@mixin colorBoton($color-link) {
    
    background-color: $color-link;
}