//Aqui Guardo todas la variables que se repiten mucho como los colores margenes o anchos.

//Colores de la web:

$color-Body:#BFBCBB;
$color-Article:white;
$color-link: #00aaff;
$color-textoPrincipal:black;
$color-p:#F527EE;


//Fuente del texto de la web:
$font-main: 'Arial', sans-serif;


//Articulos tarjetas :
