//Aqui Guardo todas la variables que se repiten mucho como los colores margenes o anchos.

$max-width:1100px; //Ancho maximo

$color-link: #00aaff;
$font-main: 'Arial', sans-serif;

$color-p:#F527EE;


