//Aqui junto todo el contenido como los elementos del Scss creados como el codigo Css.

@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}

body{
    font-family: $font-main;
    margin: 0;
    
    background-color: $color-Body;

}


.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
 
  text-align: center;
  font-size: 20px;
  
}

main{
  display: flex;
  flex-direction: column;
 
  background-color: $color-Article;

  border: black solid 2px;
  @include tablet {

    flex-direction: row;
    flex-wrap: wrap;

  }

      //Con SASS ya podemos introducir al hijo dentro del padre para ver todo mas claro :
        article{
          display: flex;
          flex-direction: column;
          align-items: center;

          
          @include tablet{
            
          }

    
}

  

}

h2{

  font-size: 20px;
  color: black;

}
img {
    max-width: 100%;
    
   
}

.fecha, .autor {
    font-size: 15px;
    color: black;

    span {
      color: #ff1493; 
      font-weight: bold;
    }
  }


  button{
    background-color: $color-link;
  }