//Aqui junto todo el contenido como los elementos del Scss creados como el codigo Css.

@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
    border: 0;
}

body{
    margin: 0 auto;
    max-width: 120px;

}

button{

    background-color: $color-link;
   

}