//Aqui junto todo el contenido como los elementos del Scss creados como el codigo Css.

@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: $font-main;
    background-color: #f8f8f8;
    margin: 0 auto;
    max-width: 120px;

}


.container {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
 
  text-align: center;
  font-size: 20px;
  
  
}



article{
    display: flex;

    flex-direction: column;

    border: black solid 2px;
    //Modo tablet:
    @media screen and (min-width: 480px){
      flex-wrap: wrap;
      

    }

    
}
h2{

  font-size: 20px;
  color: black;

}
img {
    width: 200%;
    height: 200px;
   
}

.fecha, .autor {
    font-size: 15px;
    color: black;

    span {
      color: #ff1493; 
      font-weight: bold;
    }
  }


  button{
    background-color: $color-link;
  }