//Aqui junto todo el contenido como los elementos del Scss creados como el codigo Css.

@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}

body{
    font-family: $font-main;
    margin: 0;
    
    background-color: $color-Body;

}


.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
 
  text-align: center;
  font-size: 40px;
  
}

main{


    display: flex;
    flex-direction: column;
    

    @include tablet{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

    }
  


  //Con SASS ya podemos introducir al hijo dentro del padre para ver todo mas claro :
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-Article;
        border: black solid 2px;

        

        //Asginamos la posicion de los elementos segun esten en web o tablet :
        @include tablet{
          flex-basis: $distribucionTablet;
   
        }

        @include web{
          flex-basis: $distribucionWeb;
        }

        img{
          width:100%;
        }
        


        .titulo, .fecha, .autor {
          @include formatoTexto();

          span {

            @include formatoSpan();
            
          }
        }


        button{

          @include formatoBoton();
         
        }

        
    }

  

}

